<h1 >WidgetAPI tests</h1>

<h2>Widget</h2>

<iframe #scFrame id="soundcloud_widget" allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/257613835&color=%23b69a7a&show_teaser=false"
  width="420"
  height="120"
  frameborder="no">
</iframe>

<div *ngIf="viewIsReady">
  <h2>Methods</h2>
  <div>Optional argument set to 50</div>

  <table>
    <tr *ngFor="let method of widgetFunctions">
        <td>
          <button (click)="this.SC.widget1[method](50)">
            {{method}}
          </button>
        </td>
    </tr>
    <tr>
      <td>
        <button (click)="this.SC.widget1.load('soundcloud.com/breger')">
          load(soundcloud.com/breger)
        </button>
      </td>
    </tr>
  </table>
  <h2>Getters</h2>

  <table>
    <tr *ngFor="let getter of widgetGetters">
        <td>
          <button (click)="this.SC.widget1[getter]()">
            {{getter}}
          </button>
        </td>
        <td>
          value : {{this.SC.widget1[getter].value | json}}
        </td>
    </tr>
  </table>

  <h2>Events</h2>

  <table>
    <tr *ngFor="let event of widgetEvents">
        <td>
          <button (click)="this.SC.widget1.event[event](1)">
            Add listener for {{event}}
          </button>
        </td>
        <td>
          <button (click)="this.SC.widget1.event[event](0)">
            Remove listener for {{event}}
          </button>
        </td>
        <td>
          value : {{this.SC.widget1.event[event].value | json}}
        </td>
    </tr>
  </table>

  <h2>Bind a function to a getter or an event</h2>
  <div *ngIf="binded" style="color:red">
    The alert window is binded to the getVolume function
  </div>
  <table>
    <tr >
        <td>
          <button (click)="bindAlertTogetVolume()">bindAlertTogetVolume function</button>
        </td>
        <td>
          <button (click)="unbindAlertTogetVolume()">unbindAlertTogetVolume function</button>
        </td>
    </tr>
  </table>

</div>
